.fast-ticket {
    width: 100%;
    height: 180px;
    font-size: 12px;
    background-color: #373737;

    .header {
        margin-bottom: 20px;

        .ride-name, .ride-zone-name {
            margin-top: 7px;
            
            display: inline-block;
        }

        .ride-name {
            color: white;
            display: inline-block;
            padding-right: 125px;
        }
    }

    .content {

        p {
            margin: 0;
            font-size: 20px;
            color: white;
            font-weight: bold;
            text-transform: uppercase;
        }

        .return-time, .access-code {
            margin-bottom: 15px;
        }
    }
}