.error-box {
    background-color: rgb(245, 64, 55);
    padding: 10px;
    display: inline-block;
    width: 30%;
    font-weight: bold;
    font-size: 14px;
    color: white;
    letter-spacing: 0.5px;
    margin-right: 50%;
}